/* Basics */
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
background: #606c88; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}
#container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	
}
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
 -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
	}
input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
	  box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
	font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
input[type=submit] {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #43506E; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(90deg,rgba(68,81,111,1.00) 0%,rgba(96,168,200,1.00) 100%);
	background-image: -webkit-linear-gradient(90deg,rgba(68,81,111,1.00) 0%,rgba(96,168,200,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(68,81,111,1.00) 0%,rgba(96,168,200,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(68,81,111,1.00) 0%,rgba(96,168,200,1.00) 100%);
	border-radius: 0px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3),inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3),inset 0 1px 0 rgba(255, 255, 255, .5);
}
input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(90deg,rgba(32,119,176,1.00) 0%,rgba(51,155,201,1.00) 75.13%);
	background-image: -webkit-linear-gradient(90deg,rgba(32,119,176,1.00) 0%,rgba(51,155,201,1.00) 75.13%);
	background-image: -o-linear-gradient(90deg,rgba(32,119,176,1.00) 0%,rgba(51,155,201,1.00) 75.13%);
	background-image: linear-gradient(0deg,rgba(32,119,176,1.00) 0%,rgba(51,155,201,1.00) 75.13%);
}
input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(90deg,rgba(31,74,103,1.00) 0%,rgba(163,189,205,1.00) 100%);
	background-image: -webkit-linear-gradient(90deg,rgba(31,74,103,1.00) 0%,rgba(163,189,205,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(31,74,103,1.00) 0%,rgba(163,189,205,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(31,74,103,1.00) 0%,rgba(163,189,205,1.00) 100%);
}
